[submodule "vendor/vma"]
	path = vendor/vma
	url = https://github.com/Capati/odin-vma.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/Capati/odin-imgui.git
[submodule "vendor/ode_ecs"]
	path = vendor/ode_ecs
	url = https://github.com/odin-engine/ode_ecs.git
